@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-moz-selection {
		@apply bg-gray-100;
	}
	::selection {
		@apply bg-gray-100;
	}

	h1 {
		@apply text-2xl font-light;
	}
	h2 {
		@apply text-xl font-medium;
	}
	p {
		@apply leading-relaxed;
	}
}

@layer components {

}

@media (min-width: 640px) { /* sm */
}

@media (min-width: 768px) { /* md */
}

@media (min-width: 1024px) { /* lg */
}

@media (min-width: 1280px) { /* xl */
}